:root {
  --white: #ffffff;
    --dark: #000000;

    /* BLUE COLOR VARIANTS */
    --blue-300: #86B9EA;
    --blue-400: #529BE0;
    --blue-500: #2F87DA;
    --blue-600: #2273BF;
    --blue-700: #185389;

    /* SKY COLOR VARIANTS */
    --sky-300: #85FBFF;
    --sky-400: #47F9FF;
    --sky-500: #0AF7FF;
    --sky-600: #00D9E0;
    --sky-700: #00B1B8;

    /* AMBER COLOR VARIANTS */
    --amber-300: #FDDB9B;
    --amber-400: #FCCC73;
    --amber-500: #FBBE4B;
    --amber-600: #FBAF23;
    --amber-700: #F29F05;

    /* RED COLOR VARIANTS */
    --red-300: #FBC5C5;
    --red-400: #F99F9F;
    --red-500: #F67979;
    --red-600: #F45252;
    --red-700: #F23030;

    /* GREEN COLOR VARIANTS */
    --green-300: #BEE8B0;
    --green-400: #A4DF90;
    --green-500: #8AD671;
    --green-600: #70CD51;
    --green-700: #54B435;

    /* SIZES */
    --padding-xs: 0.1rem;
    --padding-s: 0.5rem;
    --padding-sm: 1rem;
    --padding-m: 2.5rem;
    --padding-ml: 5rem;

    --margin-xs: 0.5rem;
    --margin-ml: 5rem;

    --gap-flex-sm: 1rem;
    --gap-flex-m: 2.5rem;
    --gap-flex-xl: 5rem;

    --border-radius: 0.5rem;
    --border: 0.1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  background: radial-gradient(circle, var(--sky-700) 0%, var(--blue-600) 50%, var(--blue-700) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}
